[Unit]
Description=nginx
Wants=network.target
After=network-online.target
After=prometheus.service grafana.service
Requires=prometheus.service grafana.service

[Service]
TimeoutStartSec=0
Restart=always
UMask=0000
User={{ nginx_config.user }}
Group={{ nginx_config.group }}
ExecReload=/usr/bin/{{ container_config.solution }} kill -s HUP %n
ExecStartPre=-/usr/bin/{{ container_config.solution }} stop %n
ExecStartPre=-/usr/bin/{{ container_config.solution }} rm %n
ExecStartPre=+/bin/mkdir -p {{ roq_config.run_dir }}
ExecStartPre=+/bin/chown root:root {{ roq_config.run_dir }}
ExecStart=/usr/bin/{{ container_config.solution }} run --rm --name %n -i \
{% if container_config.solution == 'podman' %}
  --cgroup-manager=cgroupfs \
{% endif %}
  --network {{ container_config.network }} \
  --publish {{ nginx_config.port }}:{{ nginx_config.port }} \
  --volume /usr/local/etc/nginx/conf.d:/etc/nginx/conf.d:ro \
  --volume /var/log/nginx:/var/log/nginx \
  --volume /var/www:/var/www:ro \
  --volume {{ roq_config.run_dir }}:{{ roq_config.run_dir }} \
  {{ nginx_config.container.registry }}/{{ nginx_config.container.name }}:{{ nginx_config.container.tag }}

[Install]
WantedBy=multi-user.target
