[Unit]
Description=prometheus
Wants=network.target                                                                                             
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
UMask=0000
User={{ prometheus_config.user }}
Group={{ prometheus_config.group }}
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/{{ container_config.solution }} run --rm --name %n \
{% if container_config.solution == 'podman' %}
  --cgroup-manager=cgroupfs \
{% endif %}
  --user 0:0 \
  --network {{ container_config.network }} \
  --volume /usr/local/etc/prometheus:/etc/prometheus:ro \
  --volume /var/lib/prometheus:/var/lib/prometheus \
  {{ prometheus_config.container.registry }}/{{ prometheus_config.container.name }}:{{ prometheus_config.container.tag }} \
  --web.external-url=http://localhost/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus

[Install]
WantedBy=multi-user.target
