[Unit]
Description=prometheus
After=network.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStop=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run --rm --name %n \
  --user 0:0 \
  --userns=keep-id:uid={{ ansible_facts["getent_passwd"][config_prometheus.user].1 }},gid={{ ansible_facts["getent_passwd"][config_prometheus.user].2 }} \
  --env PUID={{ ansible_facts["getent_passwd"][config_prometheus.user].1 }} \
  --env PGID={{ ansible_facts["getent_passwd"][config_prometheus.user].2 }} \
  --env TZ=Etc/UTC \
  --publish 9090:9090 \
  --volume /usr/local/etc/prometheus:/etc/prometheus:ro \
  --volume /var/lib/prometheus/:/prometheus \
  --network roq-network \
  {{ config_prometheus.container.registry }}/{{ config_prometheus.container.name }}:{{ config_prometheus.container.tag }}

[Install]
WantedBy=multi-user.target
